@model Employee;
@{
    ViewData["Title"] = "Detail";
}

<h1>Employee Details</h1>

ID: @Model.id<br/>
Name: @Model.firstname @Model.lastname <br/>
Phone: @Model.phone<br/>
Email: @Model.email<br/>
Department: @Model.department<br/>
